extends layout


block content
  h1= title
  if user
    p Hello #{user.firstName}
  else
    a(href='http://fusionauthpublicalb-746568800.ap-southeast-2.elb.amazonaws.com/oauth2/authorize?client_id=43b727d8-5937-4d28-80b9-8a223e888f3a&response_type=code&redirect_uri=https%3A%2F%2F3pxswfm727.us-east-2.awsapprunner.com%3A3000%2Foauth-redirect') Login

  p Welcome to #{title}
